body{
    background-image: linear-gradient(to left ,red , black, red);
}




           /****ESTILOS*******/

/**********ESTILOS INDEX******/

.imgcarrusel{
    height: 70vh;
}


/********** ESTILOS CONTACTO**********/
.imgcontacto{
    margin: 5px 0;
}

.h1contacto{
    text-align: center;
    color: white;
}

/******************* ESTILOS ACCESORIOS *************/

#secpc{
    display: flex;
    flex-flow: wrap;
    
}
.imgsecpc{
    margin: 5px 0 5px 70px;
    width: 20%;
    height: 40vh;
}

#seccel{
    display: flex;
    flex-flow: wrap;
}

.imgseccel{
    margin: 5px 0 5px 70px;
    width: 20%;
    height: 40vh;
}
